.container {
  display: flex;
  margin: 0 auto;
  width: 400px;
}
.list {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  min-height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  width: 30px;
  height: 30px;
}
.actions {
  display: flex;
  flex-direction: column;
  width: 60px;
  align-items: center;
  justify-content: center;
}